*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.section-2{
   display: flex;
   align-items: center;
   width: 100%;
   height: 100vh;
   justify-content: space-around;
}

.swimming{
    width: 261px;
    height: 360px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}

.swimming h3{
    font-family: 'Poppins', sans-serif;
    margin: 13px 0;
}

.swimming p{
    font-family: 'Poppins', sans-serif;
    margin: 13px 0;
}

.swimming a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}


.runningandcycling{
    width: 261px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.runningandcycling .running img{
    margin: 13px 0;
}

.runningandcycling .running h3{
    margin: 13px 0;
    font-family: 'Poppins', sans-serif;
}

.runningandcycling .running p{
    margin: 13px 0;
    font-family: 'Poppins', sans-serif;
}

.runningandcycling .running a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.runningandcycling .cycling img{
    margin: 13px 0;
}

.runningandcycling .cycling h3{
    margin: 13px 0;
    font-family: 'Poppins', sans-serif;
}

.runningandcycling .cycling p{
    margin: 13px 0;
    font-family: 'Poppins', sans-serif;
}

.runningandcycling .cycling a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.text{
    width: 310px;
    height: 233px;
    justify-content: center;
    padding-top: 40px;
}

section .text h1{
    width: 300px;
    margin: 13px 0;
    font-weight: 600;
    font-size: 31px;
}

section .text p{
    margin: 13px 0;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

section .text .btn{
    width: 137px;
    height: 48px;
    background-color: #13AE92;
    border: #13AE92 solid 1px;
    color: #FFFF;
}
