.section-5 {
    width: 100%;
    height: 948px;
    

    .top-space {
        width: 100%;
        height: 149px;
        background-color: white;
    }

    .center-space {
        width: 100%;
        height: calc(948px - 149px - 298px);
        background: #e6fffa;
        
        padding: 111px 229px 0px 232px;

        h2 {
            width: 456px;
            height: 43px;
        }

        p {
            width: 491px;
            height: 78px;
            margin-top: 30px;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: #000000;
            opacity: 0.7;
        } 

        .direction {
            margin-top: 50px;
            display: flex;
            align-items: center;
            gap: 23px;
        }
        

        
    }

    .last-image {
        position: absolute;
        width: 550px;
        height: 649px;
        left: 842px;
        top: 2804px;

    }

    footer {
        width: 100%;
        height: 298px;
        background:  #012F3C;
        padding: 51px 100px 50px 233px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            nav {
                display: flex;
                gap: 40px;

                a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    color: #FFFFFF;
                    opacity: 0.7;
                }
            }

            img {
                margin-right: 40px;
            }

            .last-icons {
                display: flex;
                gap: 34px;
                
            }
        }

        .text {
            width: 100%;
            display: flex;
            justify-content: center;

            p {
                width: 400px;
                height: 52px;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                color: #FFFFFF;
                opacity: 0.7;
                margin-top: 20px;

                span {
                    margin-left: 70px;
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 64px;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: #FFFFFF;
            opacity: 0.5;

            .line {
                width: 843px;
                height: 0px;
                opacity: 0.1;
                border: 1px solid #FFFFFF;
            }
            

            
        }
    }
}